<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bee1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{112,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,76}}</string>
				<key>sourceSize</key>
				<string>{112,76}</string>
			</dict>

			<key>bee2.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,0},{102,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{102,88}}</string>
				<key>sourceSize</key>
				<string>{102,88}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{256,128}</string>
			<key>textureFileName</key>
			<string>bee.png</string>
			</dict>
		</dict>
</plist>